
@font-face {
  font-family: 'Nostalgia';
  src: url('Nostalgia.eot?#iefix') format('embedded-opentype'),  url('Nostalgia.woff') format('woff'), url('Nostalgia.ttf')  format('truetype'), url('Nostalgia.svg#Nostalgia') format('svg');
  font-weight: normal;
  font-style: normal;
}
