/*css styles*/
.mx-block_wrap_price {
    position: relative;
    margin-top: 20px;
    padding: .7em 2em 1em;
    min-width: 255px;
    max-width: 520px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
            box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}
.mx-block_wrap_price textarea {
    width: 100%;
    height: 100px;
}
.mx-submit_button_wrap {
    text-align: right;
    margin-bottom: 0;
}
.mx-restore_data {
    float: left;
    width: 464px;
}
.mx-restore_data label {
    float: left;
}
.wp-core-ui .mx-restore_data input {
    float: left;
    margin-top: 2px;
    margin-left: 8px;
    height: 16px;
}
.mx-hint_text {
    background: #f3f3f3;
    padding: 6px;
}
.mx-block_wrap_price .thickbox img {
    width: 200px;
}

/*list of maps*/
.mx-shortcode {
    background: #ddd;
    padding: 4px 6px;
}

/*price_calcs*/
.mx-form-group_first {
    margin-top: -20px;
}
.mx-form-group_first > small:first-child {
    margin-left: 22px;
}
.mx-del_price_calc {
    display: block;
    position: absolute;
    right: 0px;
    margin-top: 26px;
    border: 1px solid #34b3e6;
    color: #34b3e6;
    background: transparent;
    cursor: price_calcer; 
}
.mxpctyw_price_calc_wrap_open .mx-del_price_calc {
    margin-top: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    right: 4px;
}
.mx-del_price_calc:hover {
    color: #dc3545;
    border: 1px solid #dc3545;
}
#mxpctyw_price_calcs_wrap .mxpctyw_price_calc_wrap.mxpctyw_hide_del_price_calc button.mx-del_price_calc {
    display: none;
}
.mxpctyw_price_calc_wrap {
    position: relative;
    position: relative;
    background: rgba(1, 140, 187, 0.22);
    padding: 35px 28px 3px;
    margin-bottom: 12px;
    border-bottom: 1px solid #0085ba;
    overflow: hidden;
    height: 55px;
}
.mx_number_of_price_calc {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ffffff;
    padding: 0px 4px;
}
.mxpctyw_price_calc_wrap input,
.mxpctyw_price_calc_wrap textarea {
    margin-bottom: 20px;
    border: 1px solid rgb(1, 140, 187);
    width: 100%;
}
input.mx_new_price_calc_region {
    width: 353px;
    float: left;
    margin-right: 6px;
    margin-bottom: 0;
}
button.mx-add_region {
    border: none;
    background: transparent;
    padding: 5px 9px;
    color: #34b3e6;
    cursor: price_calcer;
    display: none;
}
button.mx-delete_region {
    border: none;
    background: transparent;
    padding: 5px 9px;
    color: #ddd;
    cursor: price_calcer;
}
button.mx-add_price_calc {
    position: absolute;
    bottom: 0px;
    right: -32px;
    border: 1px solid #34b3e6;
    background: transparent;
    padding: 5px 9px;
    color: #34b3e6;
    cursor: price_calcer;
    display: none;
}
#mxpctyw_price_calcs_wrap .mxpctyw_price_calc_wrap:last-child button.mx-add_price_calc {
    display: block;
}
button.mx-open_price_calc_box {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #34b3e6;
    background: transparent;
    padding: 5px 9px;
    color: #34b3e6;
    cursor: price_calcer;
}
.mxpctyw_price_calc_wrap_open {
    height: auto;
    overflow: visible;
}
.mxpctyw_price_calc_wrap_open button.mx-open_price_calc_box i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
}
button.mx-add_price_calc:hover,
button.mx-open_price_calc_box:hover {
    color: #0085ba;
    border: 1px solid #0085ba;
}
button.mx-add_region:hover,
button.mx-delete_region:hover {
    color: #0085ba;
}
.mxpctyw_price_calc_area_wrap .form-group:last-child button.mx-delete_region {
    display: none;
}
.mxpctyw_price_calc_area_wrap .form-group:last-child button.mx-add_region {
    display: block;
}
.mx-block_wrap_price.is-invalid {
    border-color: #dc3545;
}
.mxpctyw_add_custom_marker {
    cursor: price_calcer;
}
.mxpctyw_custom_marker_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.mxpctyw_custom_marker_reset_marker {
    position: absolute;
    margin-top: -18px;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid rgb(1, 140, 187);
    color: rgb(1, 140, 187);
    cursor: price_calcer;
}
.mxpctyw_custom_marker_reset_marker:hover {
    background-color: #fff;
}
#mx_name_of_the_calc {
    width: 100%;
    margin-top: 10px;
}
select#mx_font_of_the_calc {
    font-size: 20px;
    width: 200px;
}
select#mx_font_of_the_calc option {
    padding: 15px;
}